#wrapper{
	width: 100%;
	/* background-color: #f8f8f8; */
	display: flex;

  
}


.column{
	float: left;
	padding: 10px;
	
}

.sidebar{
	width: 20%;
	background-color: #333;
	padding-bottom: 50px;
	position: fixed;
	height: 100%;
	transition: all 0.3s;

}

.column.content{
	margin-top: 30px;
	width: 80%;
	margin-left: 270px;

}
.list-group {
	margin-top: 80px;
}
.menu1{
	background-color: #222;
	color: white;
}
/* .menu1 ul li {
    border-bottom: 1px solid #e7e7e7;
} */
.menu1:hover{
	background-color: #ddd;
	color: black;
}

.menu2{
	background-color: #333;
	color: white;

}
.menu2:hover{
	background-color: #ddd;
	color: black;
}

.metismenu{
	margin-top: 50px;
}
.sidebar ul li{
	padding-bottom: 5px;
}
.sidebar ul li ul li{
	color: white;
}
.sidebar ul li a{
	color: white;
}
#sidebar.active {
    margin-left: -270px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.sidebar, .column.middle {
        width: 100%;
    }
}

/*button them*/
.btn-them{
	position: absolute;

	right: 0;
	
}
/* .page-header{
	border: 1px solid red;
}
 */